{% load bootstrap4 %}
{% bootstrap_css %}
{%bootstrap_javascript%}

<html>

<head>
    <meta charset="utf-8">
    <title>Howdy!</title>
</head>

<body>
    <h1> LiteLuna </h1>
    <p>
        This is a small POC of the Django Technology to test if Python would suit the Blockchain project better than
        <b>Node.js</b>
    </p>
    <br>
    <div>
        <p>To go to the Client's views, click <a href="client/list">here</a> </p>
        <p>To go to the Orders' views, click <a href="order/list">here</a> </p>
        <p>To go to the Notebook Orders' views, click <a href="notebook/list">here</a> </p>
        <p>To go to the Page's views, click <a href="page/list">here</a> </p>
        <p>To go to the Notebook's views, click <a href="notebook/list">here</a> </p>
    </div>
    <br>
    <h2>This project needs: </h2>
    <ul>
        <li>A refactoring of models</li>
        <li>An improved templating system</li>
        <li>A better design</li>
        <li>
            <b>Not</b> to be in Python</li>
    </ul>
    <br>
    <h2>Technologies used: </h2>
    <ul>
        <li>Django (Python)</li>
        <li>Bootstrap (UI Framework)</li>
        <li>Gunicorn (Web Server)</li>
        <li>Docker</li>
    </ul>
    <h2>Made by</h2>
    <ul>
        <li>
            Enrique Navarro Torres-Arpi
        </li>
        <li>
            Fernando Martin Garcia Del Angel
        </li>
    </ul>

</body>

</html>