{% load bootstrap4 %}
{% bootstrap_css %}
{%bootstrap_javascript%}

<h1>Notebooks</h1>

<p>
    <a href="{% url "notebook_new" %}">Add Notebooks</a>
</p>

<ul>
    {% for notebook in object_list %}
        <li>
            <p>{{ notebook.nType }}</p>
            <p>
                <a href="{% url "notebook_detail" notebook.id %}">Ver</a> | 
                <a href="{% url "notebook_edit" notebook.id %}">Editar</a> | 
                <a href="{% url "notebook_delete" notebook.id %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>

<p>Go back to the <a href="/store">index</a></p>