{% load bootstrap4 %}
{% bootstrap_css %}
{%bootstrap_javascript%}

<h1>Clientes</h1>

<p>
    <a href="{% url "client_new" %}">Agregar Clientes</a>
</p>

<ul>
    {% for client in object_list %}
        <li>
            <p>{{ client.firstName }}</p>
            <p>
                <a href="{% url "client_detail" client.id %}">Ver</a> | 
                <a href="{% url "client_edit" client.id %}">Editar</a> | 
                <a href="{% url "client_delete" client.id %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>

<p>Go back to the <a href="/store">index</a></p>